<main class="main">
  <section>
    <h2>Edit Link</h2>
    <form class="edit-form" id="editForm" onsubmit="submitEdit(event)">
      <input type="hidden" id="editId" value="<%= editable.id %>" />
      <label>
        Link Name:
        <input
          type="text"
          id="editText"
          required
          maxlength="255"
          value="<%= editable.linkName %>"
        />
      </label>
      <br />
      <label>
        Link URL:
        <input
          type="url"
          id="editUrl"
          required
          maxlength="2048"
          value="<%= editable.link %>"
        />
      </label>
      <br />
      <label>
        Link Description:
        <textarea id="editDescription" rows="3" maxlength="2048">
<%= editable.description %></textarea
        >
      </label>

      <br />
      <button type="submit">Save</button>
      <button type="button" onclick="cancelEdit()">Cancel</button>
    </form>
  </section>
</main>
