<%-
<div class="main_list">
  <%%# Scrollable list of links ##>
  <div class="link-list" id="link-list">
    <%%# Link names will be dynamically injected here %%>
  </div>

  <%%# Selected link details %%>
  <div class="link-details" id="link-details">
    <h2 id="link-name">Link Name</h2>
    <p id="link-description">Description</p>
    <a id="link-url" href="#" target="_blank">Visit Link</a>
  </div>
  <%% fetchLinks() %%>
</div>
%>
